@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1);
    }
    25% {
        transform: rotate(90deg) scale(1.05);
    }
    50% {
        transform: rotate(180deg) scale(1);
    }
    75% {
        transform: rotate(270deg) scale(1.05);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.spinner {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border-style: solid;
    border-color: #AFC33C #AFC33C transparent;

    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-play-state: initial;
}