* {
  font-family: 'Open Sans', sans-serif;
  color: #DDDDDD
}

body {
  margin: 0;
  padding: 0;
  background: #000;
}

html, body, #root, .app_wrapper {
  height: 100%;
}

.rs-green {
  color: #AFC33C;
}

.rs-gray {
  color: #848588;
}

.footer {
  position: fixed;
  display: block;
  bottom: 0; 
  left: 0;
  width: 100%;
  background: #3f3f3f;
  height: 30px;
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
}

.card {
  background: #222222;
}