.flex-container {
    display: flex;
    flex-flow: column wrap;
    height: 56vh;
    width: 100vw;
}

.flex-item {
    margin-top: 2px;
    margin-right: 2px;
    display: flex;
    min-height: 100px;
    flex: 0 0 auto;
    width: 25%;
}