.status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
	border-radius: 50%;
	width: 12px;
    height: 12px;
    display: inline-block;
}

.green {
    background-color: green;
}

.gray {
    background-color: grey;
}