#slacklogo {
    width: 12em;
}
.status {
    margin-top: 0px;
    margin-bottom: 0px;
}

.green {
    background-color: green;
}

.gray {
    background-color: grey;
}
.emojione {
    max-width: 16px;
}