nav {
    font-size: 32px;
    vertical-align: middle;
}
nav p {
    margin-bottom: 0;
    margin-top: 0;
}

.navbar {
    background: #3f3f3f;
}

.slant {
    display: block;
    background: #3f3f3f;
    height: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 15%, 0 100%);
}

